/* ************************************************   
Theme name : Coming Soon
Designer : Suzanna FOX
Designer URI : http://dailydesignnotes.com
Versiyon : 1.0 

************************************************ */

@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
/****************** GLOBAL SETTINGS **************/
* {margin:0; padding:0}
body {
 background:#fff;
 height:100%;
 }
.clear{clear:both}
img{border:none}

/********************* Main Section ******************/

#wrapper {
width: 700px;
height: 1000px;
margin:40px auto;
padding:5px;
} 
 
#main{
padding:10px 0;
font-family:Georgia, "Times New Roman", Times, serif;
color:#696969;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5x;
	border-radius: 5px;	
	
	background-color:#343434;
	background-image: -ms-linear-gradient(top, #121212 0%, #343434 100%);/* IE10 Consumer Preview */			
	background-image: -moz-linear-gradient(top, #121212 0%, #343434 100%);/* Mozilla Firefox */ 
	background-image: -o-linear-gradient(top, #121212 0%, #343434 100%);/* Opera */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #121212), color-stop(1, #343434));/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-linear-gradient(top, #121212 0%, #343434 100%);/* Webkit (Chrome 11+) */ 
	background-image: linear-gradient(to bottom, #121212 0%, #343434 100%);/* W3C Markup, IE10 Release Preview */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#121212', endColorstr='#343434'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#121212', endColorstr='#343434')"; /* IE8 */
	
height: 1000px;
margin:10px;
border-bottom:10px double #232323;
text-align: left;
width:700px;
text-align:center;
}
 
#container{
 background: url(../img/container1_bg.png) repeat;
 -moz-border-radius: 10px;
 border-radius: 10px;
 margin:10px 20px;
 font-size:20px;
 padding:20px;

 }
 
#container p{
 line-height:1.2em;
 }
 
.info {
	 margin-bottom:35px;
 } 
 
.info p {
	 font-family: "PT Sans", Arial, Helvetica, sans-serif;
		margin:10px;
color:#fff;
font-size:18px;
text-transform:none;
 } 
 
.social {
 margin: 20px;
 }
 
.line {
 height:10px;
 margin-top:10px;
 } 

/****************** Countdown **************/
 
 
#countdown {
 padding:0;
 width: 400px;
 height:83px;
 margin:0 auto;
 background: url(../img/counter.png) repeat scroll 0 0 transparent;

 }  
 
.hasCountdown {
 border: 0;
 padding:10px 0 10px 10px;
 overflow: hidden;
 display:block;
 }
 
.countdown_row {
 clear: both;
 width: 100%;
 margin:0 auto;
 display: block;
 }
 
.countdown_show4 {
 width: 540px;
 margin:0 auto;
 }

.countdown_section {
 display: block;
 float: left;
 font-size: 5px;
 color:#fff;
 text-align: center;
 width:80px;
 height:50px; 
 margin-right:17px;
 text-transform: uppercase;
 }
 
.countdown_section:first-child {
 margin-left:5px;
}

.countdown_amount {
 font-size: 23px;
 font-weight:400;
font-family: 'Oswald', sans-serif;
 }

.countdown_descr {
 display: block;
 width: 100%;
 }

.counter {
 font-family: Arial, Helvetica, sans-serif;
 text-align: center;
 text-transform: uppercase;
 margin-bottom:25px;
 }  

/****************** Subscribe **************/
.subscribe {
 padding:0px;
 margin:0 auto;
 width:480px;
 }
 
.article_social_media {
    float: left;
	margin:5px 0 0 60px;
    width: 100%;
}

.article_social_media .tweetmeme_btn, .article_social_media .plus_btn, .article_social_media .facebook_btn {
    float: left;
    margin-right: 5px;
    width: 25%;
}

#optin {
	padding: 0 15px;
	text-align: center
}
	#optin input {
		background: #fff;
		border: 1px solid #ccc;
		font-size: 15px;
		margin-bottom: 10px;
		padding: 8px 10px;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		box-shadow: 0 2px 2px #232323;
		-moz-box-shadow: 0 2px 2px #232323;
		-webkit-box-shadow: 0 2px 2px #232323
	}
		#optin input.name { background: #fff url(../img/name.png) no-repeat 10px center; padding-left: 35px }
		#optin input.email { background: #fff url(../img/email.png) no-repeat 10px center; padding-left: 35px }
		#optin input[type="submit"] {
	background-color:#ff7802;
	background-image: -ms-linear-gradient(top, #ff7802 0%, #ff4100 100%);/* IE10 Consumer Preview */			
	background-image: -moz-linear-gradient(top, #ff7802 0%, #ff4100 100%);/* Mozilla Firefox */ 
	background-image: -o-linear-gradient(top, #ff7802 0%, #ff4100 100%);/* Opera */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff7802), color-stop(1, #ff4100));/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-linear-gradient(top, #ff7802 0%, #ff4100 100%);/* Webkit (Chrome 11+) */ 
	background-image: linear-gradient(to bottom, #ff7802 0%, #ff4100 100%);/* W3C Markup, IE10 Release Preview */ 
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff7802', endColorstr='#ff4100'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff7802', endColorstr='#ff4100')"; /* IE8 */
	box-shadow: inset 0px 2px 1px -1px #ffdec1;
   -webkit-box-shadow: inset 0px 2px 1px -1px #ffdec1;
   -moz-box-shadow: inset 0px 2px 1px -1px #ffdec1;
   -o-box-shadow: inset 0px 2px 1px -1px #ffdec1;
   -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color:#fff;
	margin-top:2px;
	display:inline-block;
	border-top:1px solid #FF7802; 
	text-align:center;
	height:40px;
	cursor:pointer;
	width: 59%
		}
			#optin input[type="submit"]:hover { color: #ddd }