/* CSS Document */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.GenText{ font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:12px;
color:#33333;
}

.GenTitle{
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:14px;
color:#FF0000;
}

.GenTitle2{
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:18px;
color:#333333;
}

.GenTitle3{
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:14px;
color:#333333;
}

.FooterText{ 
font-family:Geneva, Arial, Helvetica, sans-serif;
font-size:10px;
color:#33333;
}

.thumb img{
	width:170px;
	height:120px;
}

.name {
	float:right;
	font-family:sans-serif;
	font-size:18px;
	text-decoration: inherit;
	color:white;
	text-decoration-color:inherit;
}

.gentitle3 strong,td{
	color:white;
	text-shadow: -2px -1px rgba(0,0,0,0.2);
}

.holder {
	background-color: rgba(255,255,255,0.1);
}

html { 
	background-color: #000;
	/*background: url(images/bg-all.png) no-repeat center center fixed;*/
	background: url(images/bg-all.png);
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow-x:hidden;
}